body {
    background-color: whitesmoke;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.link {
    display:block;
    text-align:center;
    padding: 10px;
}

a {
    font-size: 1.5rem
}
